export TOKEN_URL=https://internal-dev.api.service.nhs.uk/oauth2/token
export PRIVATE_KEY_PATH=jwtRS512.key
export CLIENT_ID=
export KID=test-1
export ENDPOINT=https://internal-dev.api.service.nhs.uk/hello-world/hello/application
