export OAUTH_ENDPOINT=https://sandbox.api.service.nhs.uk/oauth2-mock
export CLIENT_ID=your_client_id
export CLIENT_SECRET=your_client_secret
export REDIRECT_URI=https://localhost:8080/login/oauth2/code/simulated-auth
export ENDPOINT=https://sandbox.api.service.nhs.uk/hello-world/hello/user
