export KEYCLOAK_CLIENT_ID=
export KEYCLOAK_CLIENT_SECRET=
export KEYCLOAK_AUTHORITY=
export KEYCLOAK_PRIVATE_KEY_PATH=
export OAUTH_ENDPOINT=
export ENDPOINT=
export CLIENT_ID=
export PRIVATE_KEY_PATH=
export KID=