export OAUTH_ENDPOINT=https://sandbox.api.service.nhs.uk/oauth2-mock
export CLIENT_ID=your-identity-provider-client_id
export CLIENT_SECRET=your_client_secret
export REDIRECT_URI=http://localhost:8080/callback
export ENDPOINT=https://sandbox.api.service.nhs.uk/hello-world/hello/user
export SERVICE_CLIENT_ID=_your-nhs-digital-app-client_id
export SERVICE_OAUTH_ENDPOINT=_your-nhs-digital-app-client_id

export SERVICE_KEY_PATH=
export PROVIDER_KEY_PATH=
