export PROVIDER_OAUTH_ENDPOINT=https://identity.ptl.api.platform.nhs.uk/auth/realms/Cis2-mock-sandbox/protocol/openid-connect
export PROVIDER_CLIENT_ID=hello-world-tutorials
export PROVIDER_CLIENT_SECRET=dde091bb-97af-483e-8d3e-02d6592cf318
export PROVIDER_REDIRECT_URI=http://localhost:8080/callback

export SERVICE_CLIENT_ID=_your-nhs-digital-app-client_id
export SERVICE_OAUTH_ENDPOINT=https://sandbox.api.service.nhs.uk/oauth2-mock
export SERVICE_KEY_PATH=_path_to_your_private_key_you_registered_with_nhsd

export ENDPOINT=https://sandbox.api.service.nhs.uk/hello-world/hello/user
